@use '../base/mixins' as m;
@use '../base/variables' as v;

.bg-negro{
    background-color: v.$negro;

}
.boletos{
    padding: 10rem 0;
   
    h3{
        
        text-align: center;
        color: v.$blanco;
        margin-bottom: 2rem
    }
    .contenedor-boletos{
        @include m.tablet{
            @include m.grid(2,5rem);
        }
        
    }
}

.pase{
    
    .nombre-pase{
        font-size: 2.4rem;
        text-align: center;
        color: v.$blanco;
    }
    &-header,
    &-footer{
        padding: .5rem;
        p{
            margin: 0;
            text-align: center;
            font-weight: bold;
        }
    }
    &-header{
        background-color: v.$rosa;
        p{
            text-transform: uppercase;
            font-size: 1.6rem;
        }
        
    }
    &-body{
        height:15rem;
        color: v.$negro;
        background-color: v.$blanco;
        ul{
            @include m.resetear-lista;
            li{
                padding: 1rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }
    &-footer{
        background-color: v.$morado;
        p{
           font-size: 2.4rem;
        }
    }
}